<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Authentication Interface</title>
</head>
<body>
    <div class="card">
        <h2 style="font-size: 24px; font-weight:bold; color:green">TIC TAC TOE GAMEPLAY</h2>
        <p class="subtitle" style="font-weight:bold; color:blue" >Enter username and passcode to initialize dashboard nodes</p>
        <form method="POST">
            <div class="input-group">
                <label style="font-weight:bold;">User Identifier</label>
                <input type="text" name="username" placeholder="Enter username..." required autocomplete="off">
            </div>
            <div class="input-group">
                <label style="font-weight:bold;">Security Passcode</label>
                <input type="password" name="password" placeholder="••••••••" required autocomplete="off">
            </div>
            <button type="submit" class="btn">Authenticate</button>
        </form>
    </div>
</body>
</html>
